$badgeTipColor: #42b983 !default;
$badgeErrorColor: #da5961 !default;
$badgeWarningColor: #e7c000 !default;

.badge {
  display: inline-block;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  border-radius: 3px;
  padding: 0 6px;
  color: white;

  &.tip, &.green {
    background-color: $badgeTipColor;
  }

  &.error {
    background-color: $badgeErrorColor;
  }

  &.warning, &.warn, &.yellow {
    background-color: $badgeWarningColor;
  }

  & + & {
    margin-left: 5px;
  }
}
