@import "../../styles/mixins/index";

$projectBadgeWidth: sass-rem(100) !default;
$projectBadgePadding: sass-rem(10);

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: sass-rem(30) 0 0;
  justify-content: flex-start;
  font-size: sass-rem(15);

  > li {
    margin: $projectBadgePadding;
    list-style: none !important;
    position: relative;
    transition: all .3s ease;
    z-index: 200;

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      z-index: 300;
    }
  }

  img {
    display: block;
    width: $projectBadgeWidth;
    height: $projectBadgeWidth;
    border-radius: 35%;
    background-color: white;
    z-index: 100;
    position: relative;
    margin-bottom: sass-rem(5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $projectBadgeWidth;
    text-overflow: ellipsis;
    white-space: pre;
  }

  &.-white {
    a {
      color: #FFF
    }
  }
}
