@import "../../styles/mixins/index";

.fade-tab-enter-active, .fade-tab-leave-active {
  transition: all .3s;
}

.fade-tab-enter, .fade-tab-leave-to /* .fade-tab-leave-active below version 2.1.8 */
{
  top: 0;
  opacity: 0;
  position: absolute !important;
  transform: translate3d(-100%, 0, 0);
}

.fade-tab-leave-to /* .fade-tab-leave-active below version 2.1.8 */
{
  top: 0;
  opacity: 0;
  position: absolute !important;
  transform: translate3d(100%, 0, 0);
}

// invert

.fade-tab-invert-enter-active, .fade-tab-invert-leave-active {
  transition: all .3s;
}

.fade-tab-invert-enter, .fade-tab-invert-leave-to /* .fade-tab-invert-leave-active below version 2.1.8 */
{
  top: 0;
  opacity: 0;
  position: absolute !important;
  transform: translate3d(100%, 0, 0);
}

.fade-tab-invert-leave-to /* .fade-tab-invert-leave-active below version 2.1.8 */
{
  top: 0;
  opacity: 0;
  position: absolute !important;
  transform: translate3d(-100%, 0, 0);
}

// position

.fade-tab-vertical-enter-active, .fade-tab-vertical-leave-active {
  transition: all .3s;
}

.fade-tab-vertical-enter /* .fade-tab-vertical-leave-active below version 2.1.8 */
{
  top: 0;
  opacity: 0;
  position: absolute !important;
  transform: translate3d(0, 100%, 0);
}

.fade-tab-vertical-leave-to /* .fade-tab-vertical-leave-active below version 2.1.8 */
{
  top: 0;
  opacity: 0;
  position: absolute !important;
  transform: translate3d(0, -100%, 0);
}

.fade-tab-vertical-invert-enter-active, .fade-tab-vertical-invert-leave-active {
  transition: all .3s;
}

.fade-tab-vertical-invert-enter /* .fade-tab-vertical-invert-leave-active below version 2.1.8 */
{
  top: 0;
  opacity: 0;
  position: absolute !important;
  transform: translate3d(0, -100%, 0);
}

.fade-tab-vertical-invert-leave-to /* .fade-tab-vertical-invert-leave-active below version 2.1.8 */
{
  top: 0;
  opacity: 0;
  position: absolute !important;
  transform: translate3d(0, 100%, 0) !important;
}

.tabs {
  $root: &;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: sass-rem(10);

  &.-code {
    #{$root}__body {
      padding: 0;
      background: #282c34;
      .tab-body {
        padding: 0;
      }
    }
  }

  &.-position-top {
    .tabs__header--ul {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &.-position-bottom {
    .tabs__header {
      order: 2;

      &--ul {
        display: flex;
        border-top: sass-rem(1) solid rgba(0, 0, 0, .05);
        border-bottom: 0 !important;
      }

      &--line {
        top: 0;
      }
    }
  }

  &.-position-left {
    display: flex;

    .tabs__header {
      float: left;
      height: 100%;
      display: block;
      &--line {
        left: auto !important;
        right: 0;
      }

      &--ul {
        display: block;
        width: auto;
        border-bottom: 0 !important;
        border-right: sass-rem(1) solid rgba(0, 0, 0, .05);
      }

      .activeChild {
        button {
          padding: sass-rem(10 8 10 12) !important;
        }
      }
    }
  }

  &.-position-right {
    display: flex;

    .tabs__body {
      width: 100%;
    }

    .tabs__header {
      float: left;
      height: 100%;
      display: block;
      order: 2;

      &--ul {
        display: block;
        width: auto;
        border-bottom: 0 !important;
        border-left: sass-rem(1) solid rgba(0, 0, 0, .05);

        .activeChild {
          button {
            padding: sass-rem(10 12 10 8) !important;
          }
        }
      }
    }
  }

  .tab-body {
    position: relative;
    width: 100%;
    display: block;
    padding: sass-rem(10 0);
  }

  &__body {
    position: relative;
    display: block;
    overflow: hidden;
  }

  &__header {
    position: relative;

    &--ul {
      position: relative;
      width: 100%;
      padding-left: 0;
      margin: 0;
      line-height: 1.7;
      padding-top: 6px;
      padding-bottom: 6px;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, .04);

      &.-center {
        justify-content: center;
      }

      &.-right {
        justify-content: flex-end;
      }

      &.-fixed {
        justify-content: space-between;
        flex-wrap: nowrap !important;

        li {
          width: 100%;
        }
      }
    }

    &--line {
      width: sass-rem(100);
      height: sass-rem(2);
      display: block;
      position: absolute;
      transition: all .2s ease;
      transform: translateZ(0);
      will-change: left, right;
      background: $primaryColor;
    }

    &--li {
      display: block;
      position: relative;
    }

    button {
      color: inherit;
      font-family: inherit;

      &:disabled {
        opacity: .5;
        cursor: default !important;
        pointer-events: none;
      }
    }

    &--btn {
      font-size: sass-rem(14);
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 100%;
      background: transparent;
      margin: 0;
      padding: sass-rem(10);
      border: 0;
      cursor: pointer;
      transition: all .2s ease;
      z-index: 100;

      &:hover:not(:disabled) {
        color: inherit;
      }
    }

    &--btn-icon + span {
      padding-left: sass-rem(9);
    }
  }

  .activeChild {
    button:not(:disabled) {
      color: inherit;
    }

    button.tabs__header--btn {
      padding-top: sass-rem(8);
      padding-bottom: sass-rem(12);
    }
  }
}

//.vs-tabs--btn-tag {
//  position: absolute;
//  width: sass-rem(20);
//  height: sass-rem(20);
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  top: sass-rem(-10);
//  right: sass-rem(-10);
//  z-index: 200;
//  border-radius: sass-rem(3);
//  border: 0;
//  background: rgb(255, 255, 255);
//  box-shadow: 0 0 sass-rem(10) 0 rgba(0, 0, 0, .05);
//  cursor: pointer;
//
//  i {
//    padding-right: 0 !important;
//    font-size: .9rem;
//  }
//}




//$vs-colors{
//.vs-tabs- {
//  colorx
//}
//
//{
//.tabs__header {
//  button:not(:disabled) {
//    &:hover {
//      color: getColor(colorx, 1) !important;
//    }
//  }
//
//  .activeChild {
//    button {
//      color: getColor(colorx, 1) !important;
//    }
//  }
//
//  .line-vs-tabs {
//    background: linear-gradient(30deg, getColor(colorx, 1) 0%, getColor(colorx, .5) 100%) !important;
//    box-shadow: 0 0 8px 0 getColor(colorx, .4) !important;
//  }
//}
//
//}
//}

// vs-tab
