/* ===========================
   fadeIn
   =========================== */
.fadeIn {
    animation: fadeIn var(--Global-animation-duration);
}

.fadeInLong {
    animation: fadeIn var(--Global-animation-long-duration);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ===========================
   fadeOut
   =========================== */
.fadeOut {
    animation: fadeOut var(--Global-animation-duration);
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* ===========================
   scaleIn
   =========================== */
.scaleIn {
    animation: scaleIn var(--Global-animation-duration);
}

@keyframes scaleIn {
    from {
        transform: scale(0.5, 0.5);
    }

    to {
        transform: scale(1, 1);
    }
}

/* ===========================
   scaleOut
   =========================== */
.scaleOut {
    animation: scaleOut var(--Global-animation-duration);
}

@keyframes scaleOut {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(0, 0);
    }
}

/* ===========================
   slideInRight
   =========================== */
.slideInRight,
.rtl\:slideInRight {
    animation: slideInRight var(--Global-animation-duration);
}

body[dir='rtl'] .rtl\:slideInRight {
    animation: slideInLeft var(--Global-animation-duration);
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

/* ===========================
   slideInLeft
   =========================== */
.slideInLeft,
.rtl\:slideInLeft {
    animation: slideInLeft var(--Global-animation-duration);
}

body[dir='rtl'] .rtl\:slideInLeft {
    animation: slideInRight var(--Global-animation-duration);
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

/* ===========================
   slideInBottom
   =========================== */
.slideInBottom {
    animation: slideInBottom var(--Global-animation-long-duration);
}

@keyframes slideInBottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* ===========================
   slideInTop
   =========================== */
.slideInTop {
    animation: slideInTop var(--Global-animation-long-duration);
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* ===========================
   rotateInfinite
   =========================== */
.rotateInfinite {
    animation: rotateInfinite 1.4s cubic-bezier(0.5, 0.1, 0.4, 0.9) infinite;
}

@keyframes rotateInfinite {
    to {
        transform: rotate(360deg);
    }
}

/* ===========================
   loadingDots
   =========================== */
.loadingDots {
    margin-top: -0.9rem;
    padding: 0 20px 0 5px;
    font-size: 1.8rem;
    line-height: 1rem;
}

.loadingDots::after {
    content: '.';
    animation: loadingDots 1s steps(5, end) infinite;
}

@keyframes loadingDots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow:
                0.25em 0 0 rgba(0, 0, 0, 0),
                0.5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: white;
        text-shadow:
                0.25em 0 0 rgba(0, 0, 0, 0),
                0.5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow:
                0.25em 0 0 white,
                0.5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
        text-shadow:
                0.25em 0 0 white,
                0.5em 0 0 white;
    }
}

/* ===========================
  placeHolderShimmer
  =========================== */
@keyframes placeHolderShimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}
