
.reset-anchor {
  color: inherit;
  text-decoration: none;
}

.reset-button {
  outline: none;
  border: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  background: none;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-heading {
  margin: 0;
  font-weight: normal;
}

.reset-paragraph {
  margin: 0;
}

.reset-input {
  appearance: none;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0;
  background: none;
}

.reset-input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.reset-input-number {
  -moz-appearance: textfield;
}

.reset-input-number::-webkit-inner-spin-button,
.reset-input-number::-webkit-outer-spin-button {
  appearance: none;
}

.reset-select::-ms-expand {
  display: none;
}

abbr,
abbr[title] {
  text-decoration: none;
}
