@mixin sq-big($color1, $w: 3, $h: 3) {
  position: absolute;
  width: calc(#{$sq-size} * #{$w});
  height: calc(#{$sq-size} * #{$h});
  background: $color1;
}

@mixin sq-variant($color1) {
  position: absolute;
  width: $sq-size;
  height: $sq-size;
  background: $color1;
}

@mixin sq-variant2($color1, $color2) {
  position: absolute;
  width: $sq-size;
  height: $sq-size;
  background: $color1;
  transform: skew(45deg);
  transform-origin: 0 0;
  overflow: hidden;
  &:before {
    content: "";
    right: -37px;
    position: absolute;
    width: $sq-size;
    height: $sq-size;
    background: $color2;
    transform: skew(-45deg);
  }
}

@mixin sq-variant3($color1) {
  position: absolute;
  width: $sq-size;
  height: $sq-size;
  background: $color1;
  transform: skew(0, 45deg);
  transform-origin: 0 0;
  overflow: hidden;
}

@mixin sq-variant4($color1, $color2) {
  @include sq-big($color1, 1, 1);
  &:before {
    content: "";
    position: absolute;
    width: $sq-size;
    left: 0;
    top: 0;
    bottom: 0;
    background: $color2;
    transform: skew(45deg);
    transform-origin: 0 0;
  }
}

.hero-banner {

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 350px;
    overflow: hidden;
    transform: scale3d(1, 1, 1);

    &.hero-banner__bg-2 {
      top: 0;
      bottom: 0;
      left: 0;
      right: unset;
      transform: scaleX(-1);
    }

    > div {
      position: absolute;
      transform: rotate(45deg) skew(-15deg, -15deg);
      top: 50%;
      margin-top: -400px;
      left: 315px;
    }

    .sq-1 {
      left: 0px;
      top: calc(#{$sq-size} * 1);
      z-index: 3;

      @include sq-big($heroBannerColorLight1);

      .sqv-1 {
        left: $sq-size;
        top: calc(#{$sq-size} * 1);
        @include sq-variant($heroBannerColorLight2);
      }

      .sqv-2 {
        left: calc(#{$sq-size} * 1);
        top: calc(#{$sq-size} * 1);
        @include sq-variant2($heroBannerColorDark1, $heroBannerColorDark2);
      }
    }

    .sq-2 {
      z-index: 2;
      left: calc(#{$sq-size} * 2);
      top: calc(#{$sq-size} * 2);
      @include sq-big($heroBannerColorLight2);

      .sqv-1 {
        left: calc(#{$sq-size} * 1);
        top: calc(#{$sq-size} * 0);
        @include sq-variant3($heroBannerColorDark1);
      }

      .sqv-2 {
        left: calc(#{$sq-size} * 0);
        top: calc(#{$sq-size} * 2);
        @include sq-variant2($heroBannerColorDark2, $heroBannerColorDark1);
      }
    }
    .sq-3 {
      z-index: 1;
      left: calc(#{$sq-size} * 3);
      top: calc(#{$sq-size} * 4);
      @include sq-big($heroBannerColorDark1);

      .sqv-1 {
        left: calc(#{$sq-size} * 0);
        top: calc(#{$sq-size} * 1);
        @include sq-variant2($heroBannerColorLight2, $heroBannerColorLight2);
      }

      .sqv-2 {
        content: '';
        position: absolute;
        left: calc(#{$sq-size} * 2);
        top: calc(#{$sq-size} * 0);
        width: $sq-size;
        height: $sq-size;
        background: $heroBannerColorDark2;
      }
    }

    .sq-4 {
      z-index: 2;
      left: calc(#{$sq-size} * 5);
      top: calc(#{$sq-size} * 5);
      @include sq-big($heroBannerColorLight2);

    }

    .sq-5 {
      z-index: 2;
      left: calc(#{$sq-size} * 4);
      top: calc(#{$sq-size} * 6);
      @include sq-big($heroBannerColorDark1, 2, 3);

      .sqv-1 {
        left: calc(#{$sq-size} * 1);
        top: calc(#{$sq-size} * 0);
        @include sq-variant2($heroBannerColorDark2, $heroBannerColorLight1);
      }
    }

    .sq-6 {
      z-index: 2;
      left: calc(#{$sq-size} * 6);
      top: calc(#{$sq-size} * 8);
      @include sq-big($heroBannerColorDark1, 3, 2);

      .sqv-1 {
        left: calc(#{$sq-size} * 1);
        top: calc(#{$sq-size} * -1);
        @include sq-big($heroBannerColorLight2, 1, 3);
      }

      .sqv-2 {
        left: calc(#{$sq-size} * 0);
        top: calc(#{$sq-size} * 1);

        @include sq-variant4($heroBannerColorLight1, $heroBannerColorDark1);

        &:before {
          top: -1px;
          bottom: -1px;
        }
      }

      .sqv-3 {
        overflow: hidden;
        left: calc(#{$sq-size} * 2);
        top: calc(#{$sq-size} * 0);
        @include sq-variant4($heroBannerColorDark3, $heroBannerColorLight1);
      }
    }
  }

  @media only screen and (min-width: 1355px) {
    &__bg {
      transform: scale(1.49);
      width: 550px;

      &.hero-banner__bg-2 {
        transform: scale(-1.49, 1.49);
      }

      > div {
        left: 415px;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    &__bg {
      > div {
        left: 420px;
        margin-top: -300px;
      }
    }
  }

  @media only screen and (max-width: 375px) {
    &__bg {
      > div {
        left: 440px;
        margin-top: -300px;
      }
    }
  }
}