.api {
  .api-nav > * {
    float: left;
    margin: 8px;
  }

  .api-nav:after {
    content: "";
    clear: both;
    display: table;
  }
}

.api-list {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  padding-left: 0;

  li {
    flex: 0 0 33.3333%;
    font-size: 14px;
    margin: 2px 0;
    line-height: 14px;
    padding: 0;
    overflow: hidden;
    min-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      &.symbol-container {
        width: 100%;
        margin-bottom: 0;
        padding: 5px 16px;
        border-radius: 5px;
      }
      .symbol {
        position: relative;
        top: -1px;
      }
    }
  }
  > p {
    display: none;
  }
}

