a.symbol-container {
  @apply text-api-default relative no-underline overflow-hidden truncate whitespace-no-wrap cursor-pointer px-2 rounded-xs mr-1 inline-flex items-center;
  transition: all ease-in var(--Global-transition-duration);

  &.-list {
    @apply text-sm;

    &:hover {
      @apply text-blue bg-white;
    }
  }

  .symbol {
    transform: translateY(-1px)
  }

  &.-bubble {
    @apply text-sm;
    background: rgba(27, 31, 35, 0.05);
    padding-top: 1px;
    padding-bottom: 1px;

    &:hover {
      @apply text-blue-active;
    }

    .symbol {
      transform: scale(0.9);
    }
  }
}

ul li a.symbol-container {
  &.-bubble {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

.symbol {
  @apply hidden font-source rounded-xs shadow-symbol text-white text-xxs text-center mr-2;
  width: 1rem;
  height: 1rem;
  line-height: 1.1rem;

  &.class {
    @apply bg-deepBlue inline-block;

    &:before {
      content: "C";
    }
  }

  &.interface {
    @apply bg-waterGreen inline-block;

    &:before {
      content: "I";
    }
  }

  &.decorator {
    @apply bg-blue inline-block;
    line-height: 1rem;

    &:before {
      content: "@";
    }
  }

  &.type {
    @apply bg-greenLight inline-block;

    &:before {
      content: "T";
    }
  }

  &.service,
  &.provider {
    @apply bg-pink inline-block;

    &:before {
      content: "S";
    }
  }

  &.function {
    @apply bg-emerald inline-block;

    &:before {
      content: "F";
    }
  }

  &.const {
    @apply bg-gray-darker inline-block;

    &:before {
      content: "K";
    }
  }

  &.enum {
    @apply bg-amber inline-block;

    &:before {
      content: "E";
    }
  }
}
