.content__default {
  a.header-anchor {
    transition: padding-left ease 0.5s;
    font-size: 0.85em;
    margin-left: -0.87em;
    padding-right: 0.23em;
    margin-top: 0.125em;
    opacity: 0;
    text-decoration: none !important;
  }

  h1, h2, h3, h4, h5, h6 {
    &:hover {
      .header-anchor {
        margin-left: 0;
        opacity: 1;
      }
    }
  }
}