@import "~@sass-collective/sass-rem";
@import '../../styles/mixins/index';

$navbarBg: #34495e !default;
$navbarColor: white !default;
$navbarHeight: 3.6rem !default;
$navbarHorizontalPadding: 2rem !default;
$navbarBorderColor: 0px solid #34495e !default;
$navbarBoxShadow: 0 2px 5px 0 rgba(0, 0, 0, .3) !default;
$navbarLinksItemsHoverBg: #f3f4f5;
$navbarTiming: .5s !default;

.navbar {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: $navbarHeight;
  background-color: $navbarBg;
  color: $navbarColor;
  box-sizing: border-box;
  border-bottom: $navbarBorderColor;
  transition: all ease-in-out $navbarTiming;

  // line-height: $navbarHeight - 1.4rem;

  &.--fluid {
    box-shadow: $navbarBoxShadow;

    > .container {
      max-width: none;
    }
  }

  > .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &.sticky {
    box-shadow: $navbarBoxShadow;
  }

  a, span, img {
    display: inline-block;
  }

  .logo {
    height: $navbarHeight - 1.4rem;
    min-width: $navbarHeight - 1.4rem;
    margin-right: 0.8rem;
    vertical-align: top;

  }

  .site-name {
    font-size: sass-rem(30);
    font-weight: 300;
    color: $navbarColor;
    position: relative;
  }

  .links {
    color: darken($navbarColor, 10%);
    padding-left: 1.5rem;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 0.9rem;
    position: absolute;
    right: $navbarHorizontalPadding;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .search-box {
      flex: 0 0 auto;
      vertical-align: top;
    }

    .nav-links {
      flex: 1;

      .nav-item {
        margin: 0 sass-rem(5);
      }

      .nav-item > a,
      .nav-item .dropdown-title {
        padding: 0 sass-rem(10);
        border-radius: sass-rem(5);
      }
    }

    &-external {
      flex: 1;
      display: flex;
      align-items: center;

      &-item {
        margin: 0 sass-rem(6);
      }

      &-item a {
        padding: 0 sass-rem(10);
        border-radius: sass-rem(5);
      }

      a {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        color: $navbarColor;
        fill: $navbarColor;
        &.stackoverflow-link {
          svg {
            margin-right: -4px;
          }
        }
        &.gitter-link {
          svg {
            margin-right: -8px;
          }
        }
        &.sponsor-link{
          svg {
            margin-right: -3px;
          }
        }

        &:hover {
          color: $secondaryColor;
          fill: $secondaryColor;
        }

        svg {
          width: 18px;
          height: 18px;
          display: block;
        }

        &.gitter-link svg {
          width: 18px;
        }
      }
    }
  }
}

@include media ("<=medium") {
  .navbar {
    .home-link {
      margin-left: 2rem;
    }

    .can-hide {
      display: none;
    }

    .links {
      // padding-left: 1.5rem;
      right: 1rem;
    }
  }
}

@include media ('>medium') {
  .navbar {
    .nav-links,
    .nav-item,
    .dropdown-wrapper {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .dropdown-wrapper > a,
    .nav-item > a {
      display: flex;
      align-items: center;
      height: 50%;
    }

    .nav-links {
      .dropdown-wrapper .dropdown-title:hover,
      .nav-item > a:hover {
        color: $navbarColor;
      }
    }

    .nav-item > a:not(.external):hover,
    .nav-item > a:not(.external).router-link-active {
      position: relative;
      margin: 0;
      color: white;
      border: 0;
      background: lighten($navbarBg, 3%);
    }
  }
}
