@import '../../styles/mixins/index';

$searchBg: darken($navbarBg, 5%) !default;
$searchColor: white !default;
$searchBorder: 0px solid darken($borderColor, 10%) !default;
$searchSuggestionHoverBg: #f3f4f5;

.search-box {
  display: inline-block;
  position: relative;
  margin-right: 1rem;

  input {
    cursor: text;
    width: 10rem;
    color: $searchColor;
    display: inline-block;
    border: 0;
    // border-bottom: $searchBorder;
    border-radius: 2rem;
    font-size: 0.9rem;
    line-height: 2rem;
    padding: 0 0.5rem 0 2rem;
    outline: none;
    transition: all .2s ease;
    background: $searchBg url(../../assets/search.svg) 0.6rem 0.5rem no-repeat;
    background-size: 1rem;

    &:focus {
      cursor: auto;
    }
  }

  &__wrapper {
    position: absolute;
    content: " ";
    bottom: 0;
    // border-bottom: 2px solid $secondaryColor;
    width: 0;
    transition: all ease-in-out 200ms;
  }

  input:focus + .search-box__wrapper {
    width: 100%;
  }

  .suggestions {
    @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2));
    background: #fff;
    width: 20rem;
    position: absolute;
    top: calc(#{$navbarHeight} - 12px);
    padding: 0;
    list-style-type: none;
    margin: 0;

    &.align-right {
      right: 0;
    }
  }
  .suggestion {
    line-height: 1.4;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    a {
      white-space: normal;
      color: lighten($textColor, 35%);

      .page-title {
        font-weight: 600;
      }
      .header {
        font-size: 0.9em;
        margin-left: 0.25em;
      }
    }
    &.focused {
      background-color: $searchSuggestionHoverBg;
      a {
        color: $accentColor;
      }
    }
  }
}

@include media("<large") {
  .search-box {
    input {
      cursor: pointer;
      width: 0;
      border-color: transparent;
      position: relative;
      &:focus {
        cursor: text;
        left: 0;
        width: 10rem;
      }
    }
  }
}

@include media('<medium') {
  .search-box {
    .suggestions {
      top: $navbarHeight;
      position: fixed;
      left: 0;
      width: 100%;

      .suggestion {
        padding: 0.6rem 0.6rem
      }
    }
  }
}

//@media (max-width: $MQNarrow) and (min-width: $MQMobile) {
//  .search-box {
//    .suggestions {
//      left: 0;
//    }
//  }
//}
//
//@media (max-width: $MQMobile) {
//  .search-box {
//    margin-right: 0;
//    input {
//      left: 1rem;
//    }
//    .suggestions {
//      right: 0;
//    }
//  }
//}
//
//@media (max-width: $MQMobileNarrow) {
//  .search-box {
//    .suggestions {
//      width: calc(100vw - 4rem);
//    }
//    input:focus {
//      width: 8rem;
//    }
//  }
//}