@import "~@sass-collective/sass-rem";
@import "../../styles/mixins/index";

$footerBg: #e6e6e6 !default;
$footerContentBg: #ddd !default;
$footerLinkColor: #3eaf7c !default;
$footerLinkColorHover: #3eaf7c !default;
$footerHeadingColor: #0c3645 !default;

.footer {
  background: $footerBg;

  > .container--footer {
    background: $footerContentBg;
  }

  &__content {
    position: relative;
    padding-right: 105px;
  }

  &__improve-docs {
    text-align: center;
    padding: 10px 0;
  }

  a {
    text-decoration: none;
    color: $footerLinkColor;
    font-weight: 600;
    &:hover {
      color: $footerLinkColorHover;
    }
  }

  p {
    font-size: sass-rem(12);
  }

  &__next-step-header {
    font-size: 1.10em;
    color: $footerHeadingColor;
    text-transform: uppercase;
  }

  .github-stars {
    position: absolute;
    top: 0;
    right: 15px;
    color: #414141;
  }
}
