@import "../../styles/mixins/index";

$contributorBadgeWidth: sass-rem(60) !default;
$contributorBadgePadding: sass-rem(10);

.contributors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: sass-rem(30 0 0);
  justify-content: flex-start;
  font-size: sass-rem(10);

  > li {
    margin: $contributorBadgePadding;
    list-style: none !important;
    position: relative;
    transition: all .3s ease;
    z-index: 200;

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      z-index: 300;
    }
  }

  img {
    display: block;
    width: $contributorBadgeWidth;
    height: $contributorBadgeWidth;
    border-radius: 35%;
    background-color: white;
    z-index: 100;
    position: relative;
    margin-bottom: sass-rem(5);

    &.-blur {
      position: absolute !important;
      left: 0;
      bottom: -5px;
      z-index: 50 !important;
      opacity: .5;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $contributorBadgeWidth;
    text-overflow: ellipsis;
    white-space: pre;
  }

  &__empty-avatar {
    background: rgb(242, 243, 245);
    width: $contributorBadgeWidth;
    height: $contributorBadgeWidth;
    display: flex;
    align-items: center;
    color: rgb(196, 199, 204);
    font-weight: bold;
    font-size: sass-rem(16);
    text-align: center;
    border-radius: 35%;
    justify-content: center;
    margin-bottom: sass-rem(5);
  }

  &.-white {
    a {
      color: #FFF
    }
  }
}
