@import "../../styles/mixins/index";

.testimonial {
  padding: 20px;
  padding-bottom: 50px;
  text-align: center;

  &__heading {
    text-transform: uppercase;
    margin-bottom: rem(20px);
    font-weight: 400;
    color: $primaryColor;
  }

  &__details {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $MQMobile) {
      width: auto;
    }
  }
}
