@import '../../styles/mixins/index';

.dropdown-wrapper {
  cursor: pointer;

  .dropdown-title {
    display: block;
    &:hover {
      border-color: transparent;
    }
    .arrow {
      vertical-align: middle;
      margin-top: 3px;
      margin-left: 0.4rem;
    }
  }

  .nav-dropdown {
    color: $textColor;

    .dropdown-item {
      color: inherit;
      line-height: 1.7rem;
      h4 {
        margin: 0.45rem 0 0;
        border-top: 1px solid #eee;
        padding: 0.45rem 1.5rem 0 1.25rem;
      }
      .dropdown-subitem-wrapper {
        padding: 0;
        list-style: none;
        .dropdown-subitem {
          font-size: 0.9em;
        }
      }
      a {
        display: block;
        line-height: 1.7rem;
        position: relative;
        border-bottom: none;
        font-weight: 400;
        margin-bottom: 0;
        padding: 0 1.5rem 0 1.25rem;
        &:hover {
          color: $accentColor;
          &.router-link-active {
            color: $accentColor;
            &::after {
              content: "";
              width: 0;
              height: 0;
              border-left: 5px solid $accentColor;
              border-top: 3px solid transparent;
              border-bottom: 3px solid transparent;
              position: absolute;
              top: calc(50% - 2px);
              left: 9px;
            }
          }
        }
      }
      &:first-child h4 {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
      }
    }
  }
}

//@media (max-width: map_get($breakpoints, 'medium')) {
//  .dropdown-wrapper {
//    &.open .dropdown-title {
//      margin-bottom: 0.5rem;
//    }
//    .nav-dropdown {
//      transition: height .1s ease-out;
//      overflow: hidden;
//      .dropdown-item {
//        h4 {
//          border-top: 0;
//          margin-top: 0;
//          padding-top: 0;
//        }
//        h4, & > a {
//          font-size: 15px;
//          line-height: 2rem;
//        }
//        .dropdown-subitem {
//          font-size: 14px;
//          padding-left: 1rem;
//        }
//      }
//    }
//  }
//}

@include media(">medium") {

  .dropdown-wrapper {
    height: 1.8rem;
    &:hover .nav-dropdown {
      // override the inline style.
      display: block !important;
    }
    .dropdown-title .arrow {
      // make the arrow always down at desktop
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 6px solid $arrowBgColor;
      border-bottom: 0;
    }
    .nav-dropdown {
      display: none;
      // Avoid height shaked by clicking
      height: auto !important;
      box-sizing: border-box;
      max-height: calc(100vh - 2.7rem);
      @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2));
      overflow-y: auto;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #fff;
      padding: 0.6rem 0;
      text-align: left;
      white-space: nowrap;
      margin: 0;
    }
  }
}