@import "../../styles/mixins/index";

$contributorBadgeWidth: rem(80px) !default;
$contributorBadgeItemsPerLine: 10;
$contributorBadgeItemsPerLineMobile: 3;
$contributorBadgeMarginRight: rem(40px);

.contributors {
  padding-top: 30px;

  &.-white {
    a {
      color: #FFF
    }
  }

  a {
    display: inline-block;
    width: 120%;
    overflow: hidden;
    word-wrap: normal;
    white-space: pre;
    text-overflow: ellipsis;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__badge {
    $root: &;
    position: relative;
    text-align: center;
    display: inline-block;
    width: calc((100% / #{$contributorBadgeItemsPerLine}) - #{$contributorBadgeMarginRight});
    margin-right: $contributorBadgeMarginRight;
    margin-bottom: 20px;
    transition: transform ease-in-out 300ms;

    &:hover {
      transform: scale(1.1, 1.1);

      #{$root}-img {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      }
    }

    &-img {
      width: 100%;
      background: white;
      border-radius: 20%;
      overflow: hidden;
      margin-bottom: 20px;
      transform: rotate3d(0, 0, -1, 30deg);
      transition: all ease-in-out 300ms;

      img {
        width: 100%;
        display: block;
        transform: rotate3d(0, 0, 1, 30deg) scale(1.3);
      }
    }

  }

  @media (max-width: $MQMobile) {
    &__badge {
      width: calc((100% / #{$contributorBadgeItemsPerLineMobile}) - #{$contributorBadgeMarginRight});
    }
  }
}
