@import "~sass-rem";

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$primaryColor: #0074d9;
$secondaryColor: #ffa000;

$accentColor: $primaryColor;
$accentColorHover: $secondaryColor;

$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #282c34;
$arrowBgColor: $secondaryColor;
$greyLighterColor: #eaecef;
// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------
$baseFontSize: 16;

$fontFamily: 'Source Sans Pro', sans-serif;
// $fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$fontSize: rem($baseFontSize);
$rootFontSize: percentage($baseFontSize / 16);
$defaultLineHeight: 18 / $baseFontSize;

$headingFontFamily: $fontFamily;
$headingFontWeight: normal;
$headingDefaultColor: $textColor;

// -----------------------------------------------------------------------------
// Headings
// -----------------------------------------------------------------------------
$h1FontSizes: (null: 30px, medium: 35px, large: 40px);
$h1LineHeights: (null: 1);

$h2FontSizes: (null: 25px, medium: 28px, large: 30px);
$h2LineHeights: (null: 1);

$h3FontSizes: (null: 18px, medium: 18px, large: 20px);
$h3LineHeights: (null: 1);

$h4FontSizes: (null: 18px);
$h4LineHeights: (null: 1);

$h5FontSizes: (null: 12px, medium: 18px, large: 24px);
$h5LineHeights: (null: 1);

$h6FontSizes: (null: 14px);
$h6LineHeights: (null: 1);

// layout

// -----------------------------------------------------------------------------
// ProgressBarBg
// -----------------------------------------------------------------------------
$progressBarBg: $secondaryColor;

// -----------------------------------------------------------------------------
// Navbar
// -----------------------------------------------------------------------------
$navbarBg: $primaryColor;
$navbarColor: white;
$navbarBoxShadow: 0 2px 5px 0 rgba(0, 0, 0, .3) !default;
$navbarHeight: 3.6rem;
$navbarHorizontalPadding: 2rem;
$navbarBorderColor: 0px solid #34495e;
$navbarTiming: .5s;

$searchBg: darken($navbarBg, 5%) !default;
$searchColor: white !default;
$searchBorder: 0px solid darken($borderColor, 10%) !default;

// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------
$MQNarrow: 1024px;
$MQMobile: 768px;
$MQMobileNarrow: 320px;

$containerMaxWidth: rem(1024px);
$containerGutter: 2rem;
$sidebarWidth: 20rem;
// $contentWidth: 740px;

$breakpoints: ('small': 320px, 'medium': 768px, 'medium+1': 769px, 'large': 1024px);

// -----------------------------------------------------------------------------
// Code
// -----------------------------------------------------------------------------
$lineNumbersWrapperWidth: 3.5rem;
$codeLang: js ts html md vue css sass scss less stylus go java c sh yaml py;

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------
$footerBg: #e6e6e6;
$footerContentBg: #ddd;
$footerLinkColor: $accentColorHover;
$footerLinkColorHover: $accentColor;
$footerHeadingColor: #0c3645;

