@import "mixins/index";

$headingFontWeight: normal !default;

%heading-common {
  font-weight: $headingFontWeight;
}

.heading,
.subheading {
  @extend %heading-common;
}

.heading--centered {
  text-align: center;
}

.heading,
.heading--style {
  color: inherit;
  line-height: 1;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border: 0;

  &.-white {
    color: #FFFFFF;
  }

  &.-blue {
    color: $primaryColor;
  }

  b,
  strong {
    font-weight: bold;
  }
}

h1, h2, h3, h4, h5, h6 {
  /* font-weight: 600;
  line-height: 1.25;
  .content:not(.custom) > & {
    margin-top: (0.5rem - $navbarHeight);
    padding-top: ($navbarHeight + 1rem);
    margin-bottom: 0;
    &:first-child {
      margin-top: -1.5rem;
      margin-bottom: 1rem;
      + p, + pre, + .custom-block {
        margin-top: 2rem;
      }
    }
  }*/
  &:hover .header-anchor {
    opacity: 1;
  }
}

%heading-common {
  font-weight: $headingFontWeight;
}

.heading,
.subheading {
  @extend %heading-common;
}

.heading--centered {
  text-align: center;
}

.heading,
.heading--style {
  color: inherit;
  line-height: 1;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1rem;

  .-blue {
    color: $primaryColor;
  }

  b,
  strong {
    font-weight: bold;
  }
}

h1,
.is-1 {
  @include responsive-settings('font-size', $h1FontSizes);
  @include responsive-settings('line-height', $h1LineHeights);
  text-transform: uppercase;
  margin-bottom: 30px;
}

h2,
.is-2 {
  @include responsive-settings('font-size', $h2FontSizes);
  @include responsive-settings('line-height', $h2LineHeights);
  text-transform: uppercase;
  margin-bottom: 25px;
}

h3,
.is-3 {
  @include responsive-settings('font-size', $h3FontSizes);
  @include responsive-settings('line-height', $h3LineHeights);

  margin-bottom: 20px;
}

h4,
.is-4 {
  @include responsive-settings('font-size', $h4FontSizes);
  @include responsive-settings('line-height', $h4LineHeights);
  margin-bottom: 20px;
}

h5,
.is-5 {
  @include responsive-settings('font-size', $h5FontSizes);
  @include responsive-settings('line-height', $h5LineHeights);

  margin-bottom: 20px;
}

h6,
.is-6 {
  @include responsive-settings('font-size', $h6FontSizes);
  @include responsive-settings('line-height', $h6LineHeights);
  margin-bottom: 20px;
}

/*
h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.65rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid $borderColor;
}

h3 {
  font-size: 1.35rem;
}*/