@import '../styles/mixins/variables';


.contributingpage {

  &:not(.sidebar-open) {
    .navbar {
      background: transparent;
      .search-box input {
        background-color: darken($primaryColor, 10%);
        transition: background-color ease-in-out $navbarTiming;
      }
      &.sticky {
        background: $navbarBg;
        .search-box input {
          background-color: $searchBg;
        }
      }
    }
  }

  .main-content {
    padding-top: 0;
  }
}

@media (max-width: $MQMobileNarrow) {
  /*.home {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }*/
}